name: CI - Build & Test

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install dependencies
      run: uv sync --all-groups --all-extras --dev

    - name: Check Dependencies (Deptry)
      run: uv run deptry .

    - name: Lint and Format (Ruff)
      run: |
        uv run ruff check .
        uv run ruff format --check .

    - name: Type Check (Pyright)
      run: uv run pyright

    - name: Run Tests (Pytest)
      run: uv run pytest
